<!DOCTYPE html>
<html lang="ru">
<div class="container-fluid">
<head>
    <meta charset="UTF-8">
    <title>Анализ заказов</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

        <ul class="nav bg-info">
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'home' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'comments' %}">Отзывы и предложения</a>
            </li>
        </ul>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</div>
</html>
